# Makefile for libtempltextkeeper
# Copyright (C) 2015 Sergey Kolevatov

###################################################################

VER = 0

APP_PROJECT := example

APP_BOOST_LIB_NAMES := system regex

#APP_THIRDPARTY_LIBS = -lm

APP_SRCC = example.cpp

APP_EXT_LIB_NAMES = \
	templtext \
	utils \
	lang_tools
